h1, h4 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#product-set {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-image {
  width: 300px;
  max-height: 300px;
  margin:auto;
  /*height: 300px;*/
}

.product-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  margin: 10px;
}

#show-button {
  visibility: hidden;
}

#lsClear {
  visibility:hidden;
}

#results {
  display: flex;
  justify-content: center;
}

#button-div {
  text-align:center;
  margin: auto;
}
